In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('combined_dataset.csv', sep=',')
df.head()

,model_2008,displ_2008,cyl_2008,trans_2008,drive_2008,fuel_2008,veh_class_2008,air_pollut_2008,city_mpg_2008,hwy_mpg_2008,cmb_mpg_2008,greenhouse_2008,smartway_2008,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no,ACURA RDX,3.5,6,SemiAuto-6,2WD,Gasoline,small SUV,3.0,20.0,28.0,23.0,5,No
1,ACURA RDX,2.3,4,Auto-S5,4WD,Gasoline,SUV,7.0,17.0,22.0,19.0,5,no,ACURA RDX,3.5,6,SemiAuto-6,4WD,Gasoline,small SUV,3.0,19.0,27.0,22.0,4,No
2,AUDI A3,2.0,4,Man-6,2WD,Gasoline,station wagon,7.0,21.0,29.0,24.0,7,yes,AUDI A3,2.0,4,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6,No
3,AUDI A3,2.0,4,Man-6,2WD,Gasoline,station wagon,7.0,21.0,29.0,24.0,7,yes,AUDI A3,2.0,4,AMS-7,2WD,Gasoline,small car,7.0,26.0,35.0,29.0,6,No
4,AUDI A3,2.0,4,Auto-S6,2WD,Gasoline,station wagon,7.0,22.0,29.0,25.0,7,yes,AUDI A3,2.0,4,AMS-6,4WD,Gasoline,small car,7.0,24.0,31.0,27.0,6,No

## 1. Create a new dataframe, model_mpg, that contain the mean combined mpg values in 2008 and 2018 for each unique modelÂ¶

In [10]:
model_mpg = df.groupby('model').mean()[['cmb_mpg_2008', 'cmb_mpg']]

In [18]:
model_mpg.head()

           cmb_mpg_2008    cmb_mpg  mpg_change
model
ACURA RDX     19.000000  22.500000    3.500000
AUDI A3       23.333333  28.000000    4.666667
AUDI A4       21.000000  27.000000    6.000000
AUDI A6       19.666667  25.666667    6.000000
AUDI A8 L     16.500000  22.000000    5.500000

## 2. Create a new column, mpg_change, with the change in mpg

In [12]:
model_mpg['mpg_change'] = model_mpg['cmb_mpg'] - model_mpg['cmb_mpg_2008']
model_mpg.head()

           cmb_mpg_2008    cmb_mpg  mpg_change
model
ACURA RDX     19.000000  22.500000    3.500000
AUDI A3       23.333333  28.000000    4.666667
AUDI A4       21.000000  27.000000    6.000000
AUDI A6       19.666667  25.666667    6.000000
AUDI A8 L     16.500000  22.000000    5.500000

## 3. Find the vehicle that improved the most

In [13]:
max_change = model_mpg['mpg_change'].max()
max_change

16.53333333333334

In [14]:
model_mpg[model_mpg['mpg_change'] == max_change]

             cmb_mpg_2008  cmb_mpg  mpg_change
model
VOLVO XC 90     15.666667     32.2   16.533333

In [16]:
idx = model_mpg.mpg_change.idxmax()
idx

'VOLVO XC 90'

In [17]:
model_mpg.loc[idx]

cmb_mpg_2008    15.666667
cmb_mpg         32.200000
mpg_change      16.533333
Name: VOLVO XC 90, dtype: float64