In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df_08 = pd.read_csv('clean_08.csv', sep=',')
df_18 = pd.read_csv('clean_18.csv', sep=',')

## Q3: What are the characteristics of SmartWay vehicles? Have they changed over time?

In [3]:
df_08.smartway.value_counts()

no     607
yes    380
Name: smartway, dtype: int64

In [4]:
df_18.smartway.value_counts()

No       724
Yes       91
Elite     17
Name: smartway, dtype: int64

In [5]:
df_08_smart = df_08.query("smartway == 'yes'")
df_08_non_smart = df_08.query("smartway == 'no'")

In [6]:
df_18_smart = df_18.query("smartway != 'No'")
df_18_non_smart = df_18.query("smartway == 'No'")

In [10]:
df_08_smart.describe()

,displ,cyl,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,2.602895,4.826316,7.365789,20.984211,28.413158,23.736842,6.868421
std,0.623436,1.002025,1.148195,3.442672,3.075194,3.060379,0.827338
min,1.300000,4.000000,6.000000,17.000000,22.000000,20.000000,6.000000
25%,2.275000,4.000000,7.000000,19.000000,26.000000,22.000000,6.000000
50%,2.400000,4.000000,7.000000,20.000000,28.000000,23.000000,7.000000
75%,3.000000,6.000000,7.000000,22.000000,30.000000,25.000000,7.000000
max,5.000000,8.000000,9.500000,48.000000,45.000000,46.000000,10.000000

In [13]:
df_18_smart.describe()

,displ,cyl,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score
count,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000
mean,1.787963,3.935185,5.212963,34.907407,41.472222,37.361111,7.925926
std,0.408031,0.416329,1.798498,16.431982,13.095236,14.848429,1.197378
min,1.200000,3.000000,3.000000,25.000000,27.000000,26.000000,7.000000
25%,1.500000,4.000000,3.000000,28.000000,36.000000,31.000000,7.000000
50%,1.700000,4.000000,5.500000,28.500000,37.000000,32.000000,7.000000
75%,2.000000,4.000000,7.000000,31.250000,40.250000,35.000000,9.000000
max,3.500000,6.000000,7.000000,113.000000,99.000000,106.000000,10.000000

In [14]:
df_08_non_smart.describe()

,displ,cyl,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score
count,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000,607.000000
mean,4.056837,6.771005,6.293245,15.133443,21.299835,17.316310,4.149918
std,1.203933,1.882335,0.551479,2.564736,3.366852,2.766868,1.629634
min,1.300000,2.000000,4.000000,8.000000,13.000000,10.000000,0.000000
25%,3.200000,6.000000,6.000000,13.000000,19.000000,15.000000,3.000000
50%,3.800000,6.000000,6.000000,15.000000,21.000000,18.000000,5.000000
75%,4.900000,8.000000,7.000000,17.000000,24.000000,19.000000,5.000000
max,8.400000,16.000000,9.500000,21.000000,28.000000,23.000000,7.000000

In [15]:
df_18_non_smart.describe()

,displ,cyl,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score
count,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000,724.000000
mean,3.270304,5.720994,3.798343,19.325967,26.708564,22.041436,4.276243
std,1.346987,1.760816,1.746982,4.115731,5.073390,4.424682,1.256106
min,1.400000,3.000000,1.000000,9.000000,12.000000,10.000000,1.000000
25%,2.000000,4.000000,3.000000,16.000000,23.000000,19.000000,3.000000
50%,3.000000,6.000000,3.000000,19.000000,27.000000,22.000000,4.000000
75%,3.900000,6.000000,5.000000,22.000000,30.000000,25.000000,5.000000
max,8.000000,16.000000,7.000000,59.000000,61.000000,60.000000,10.000000